<section class="h-screen color-secondary text-color-light border text-center">
    <div class="container-80 mx-auto mt-10">
        <h2 class="text-6xl">
            Risk of Diabetes is 3-5 times higher in First Nations communities
        </h2>

        <h3 class="text-4xl font-light mt-10">
            Aid community health care and diabetes research efforts. <br>
            Complete the 2023 DIA survey 
        </h3>

        <p class="mt-10 text-2xl">
            Check your diabetes risk level in only 5 minutes
        </p>

        <button class="mt-5" (click)="launchSurvey()" mat-raised-button color="accent" style="border-radius: 25px">Take Survey</button>
    </div>
</section>