<section class="container-80 mx-auto mb-10">
  <h1 class="text-4xl md:text-5xl mt-5">Doctors near you</h1>
  <p class="mt-5">
    Diagnosis by a doctor is crucial for Indigenous Diabetes as it allows for
    timely identification and management of the condition. Diabetes is a chronic
    disease that can cause serious health complications if left untreated or
    poorly managed. It is estimated that Indigenous peoples have a higher
    prevalence of diabetes compared to non-Indigenous populations, which makes
    it even more important to ensure that they receive timely and accurate
    diagnosis.
  </p>
  <p class="mt-5">
    Early diagnosis by a doctor allows for prompt initiation of appropriate
    treatment, which can help prevent or delay the onset of diabetes-related
    complications such as kidney disease, blindness, and nerve damage. Treatment
    for diabetes may include lifestyle changes such as a healthy diet and
    increased physical activity, medications to help manage blood sugar levels,
    and regular monitoring of blood sugar levels and other health markers.
  </p>
  <p class="mt-5">
    Diagnosis by a doctor involves a number of tests to measure blood sugar
    levels and assess other health markers. This may include a fasting blood
    sugar test, an oral glucose tolerance test, or a hemoglobin A1c test. A
    doctor may also perform a physical exam and review the patient's medical
    history and symptoms.
  </p>
  <p class="mt-5">
    Diagnosis by a doctor allows for ongoing monitoring and management of
    diabetes, which is essential to prevent or delay the onset of complications.
    Regular check-ups with a doctor, along with self-monitoring of blood sugar
    levels at home, can help patients stay on track with their treatment plan
    and make necessary adjustments as needed.
  </p>
  <p class="mt-5">
    In summary, diagnosis by a doctor is crucial for diabetes as it enables
    early identification and appropriate management of the condition. This can
    help prevent or delay the onset of serious complications and improve the
    quality of life for people living with diabetes. It is important for
    individuals to seek regular check-ups with a doctor and to take an active
    role in managing their diabetes through lifestyle changes and medication, as
    recommended by their healthcare provider.
  </p>
  <p class="mt-5 text-2xl">
    PLEASE GO TO DOCTOR FOR DIAGNOSIS WHEN YOU NEED IT
  </p>
</section>
