<nav class="px-5 border flex justify-between items-center">
    <ul class="nav-header flex items-center h-full gap-10 flex-wrap">
        <!-- Brand Logo -->
        <li>
            <div class="flex items-center">
                <a routerLink="/home"><img src="../../../assets/images/logo.png" alt="Brand Logo"></a>
                <!-- App Name -->
                <p class="text-3xl">{{appTitle}}</p>
            </div>
        </li>

        <!-- Links -->
        <li class="text-color-secondary text-lg">
            <a [routerLink]="['about']">About Diabetes</a>
        </li>
        <li class="text-color-secondary text-lg">
            <a class="cursor-pointer">Health-care providers</a>
        </li>
        <li class="text-color-secondary text-lg">
            <a [routerLink]="['awareness']">How your data can help</a>
        </li>
    </ul>

    <!-- Right Part -->
    <div>
        <button [routerLink]="['survey']" mat-raised-button color="accent" style="border-radius: 25px">Take Survey</button>
    </div>
</nav>
