<form class="text-left" autocomplete="off" [formGroup]="lifestyleForm" class="w-full h-full border overflow-x-hidden overflow-y-auto" style="height: 500px;">
    <mat-grid-list [cols]="formBreakpoint" [rowHeight]="rowHeight" (window:resize)="onResize($event)">

        <!-- Devil Foods -->
        <mat-grid-tile [rowspan]="rowSpan">
            <div class="w-9/10 p-2" formGroupName="question1">
                <label for="foodCheckbox">1. Please select those out of the following white devils that make up a significant part of your diet. (Select one or more)</label>
                <br>
                <div id="foodCheckbox" role="checkbox" class="flex justify-start mt-4 flex-wrap">
                    <mat-checkbox
                    [color]="'accent'"
                    formControlName="bread"
                    >
                        White Bread
                    </mat-checkbox>

                    <mat-checkbox
                    [color]="'accent'"
                    formControlName="sugar"
                    >
                        Sugar
                    </mat-checkbox>

                    <mat-checkbox
                    [color]="'accent'"
                    formControlName="salt"
                    >
                        Salt
                    </mat-checkbox>

                    <mat-checkbox
                    [color]="'accent'"
                    formControlName="flour"
                    >
                        Flour
                    </mat-checkbox>
                </div>
            </div>
        </mat-grid-tile>

        <!-- Junk Food -->
        <mat-grid-tile [rowspan]="rowSpan">
            <div class="w-9/10 p-2">
                <label id="diet-checkbox-group-label">2. How often do you have unhealthy/junk food per week?</label>
                    <br>
                <mat-radio-group formControlName="question2" [color]="'accent'" aria-labelledby="diet-checkbox-group-label">
                    <mat-radio-button  class="m-2" [value]="'once'">
                        Once a Week
                    </mat-radio-button>
                    <mat-radio-button class="m-2" [value]="'sometimes'">
                        2-5 times a week
                    </mat-radio-button>
                    <mat-radio-button class="m-2" [value]="'everyday'">
                        Everyday
                    </mat-radio-button>

                    <mat-error *ngIf="lifestyleForm.get('question2')?.touched && !lifestyleForm.get('question2')?.valid">
                        Please select a valid value
                    </mat-error>
                </mat-radio-group>
            </div>
        </mat-grid-tile>

        <mat-grid-tile [rowspan]="rowSpan">
            <div class="w-3/5">
                <label id="diet-checkbox-group-label">3. How often do you go for a general medical checkup?</label>
                    <br>
                <mat-radio-group formControlName="question3" [color]="'accent'" aria-labelledby="diet-checkbox-group-label">
                    <mat-radio-button  class="m-2" [value]="'month'">
                        Once a Month
                    </mat-radio-button>
                    <mat-radio-button class="m-2" [value]="'quarter'">
                        Once a Quarter
                    </mat-radio-button>
                    <mat-radio-button class="m-2" [value]="'year'">
                        Once a Year
                    </mat-radio-button>

                    <mat-error *ngIf="lifestyleForm.get('question3')?.touched && !lifestyleForm.get('question3')?.valid">
                        Please select a valid value
                    </mat-error>
                </mat-radio-group>
            </div>
        </mat-grid-tile>

        <mat-grid-tile [rowspan]="rowSpan">
            <div class="w-9/10 p-2" formGroupName="question4">
                <label>4. Do you experience any of the following in your living environment?</label>
                <br>
                <div role="checkbox" class="flex flex-wrap justify-start mt-4">
                    <mat-checkbox
                    [color]="'accent'"
                    formControlName="airPollution"
                    >
                        Air Pollution
                    </mat-checkbox>

                    <mat-checkbox
                    [color]="'accent'"
                    formControlName="waterPollution"
                    >
                        Lack of clean drinking water
                    </mat-checkbox>

                    <mat-checkbox
                    [color]="'accent'"
                    formControlName="toxins"
                    >
                        Exposure to toxins (Food contaminated with pesticides)
                    </mat-checkbox>

                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile [rowspan]="rowSpan">
            <div class="w-9/10 p-2" formGroupName="question5">
                <label>5. Do you face mental health issues or constant stress/anxiety due to the following? </label>
                <br>
                <div role="checkbox" class="flex flex-wrap justify-start mt-4">
                    <mat-checkbox
                    [color]="'accent'"
                    formControlName="trauma"
                    >
                        Historical Trauma
                    </mat-checkbox>

                    <mat-checkbox
                    [color]="'accent'"
                    formControlName="finances"
                    >
                        Financial Issues
                    </mat-checkbox>

                    <mat-checkbox
                    [color]="'accent'"
                    formControlName="other"
                    >
                        Other Reasons
                    </mat-checkbox>

                </div>
            </div>
        </mat-grid-tile>

        <!-- <mat-grid-tile [rowspan]="rowSpan">
            <button mat-flat-button color="accent" (click)="logValues()">
                Log Form
            </button>
        </mat-grid-tile> -->

    </mat-grid-list>      
</form>