/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Latest Imports */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');


:root {
    /* Colors */
    --color-primary: white;
    --color-secondary: rgba(5, 5, 131, 0.862);
    --color-accent: #536dfe;

    --text-color-primary: black;
    --text-color-light: white;

    /* Fonts */
    /* --font-primary: 'Poppins', sans-serif; */
    --font-primary: 'Source Sans Pro', sans-serif;
    --font-secondary: Roboto, "Helvetica Neue", sans-serif;
    --font-headings: 'Bree Serif', serif;
    --font-fancy: 'Arima', 'Times New Roman', Times, serif, cursive;
}

::selection {
    background-color: goldenrod;
    color: var(--text-color-primary);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, var(--font-primary), sans-serif; }


h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.btn {
    padding: 0.5em; 
    font-size: 1.25em; 
    transition: 200ms ease-in-out; 
    align-self: center;

}

/* Color + Font Classes */
.font-primary {
    font-family: var(--font-primary);
}
.font-secondary {
    font-family: var(--font-secondary);
}
.font-headings {
    font-family: var(--font-headings);
}
.font-fancy {
    font-family: var(--font-fancy);
}

.color-primary {
    background-color: var(--color-primary)
}
.color-secondary {
    background-color: var(--color-secondary)
}
.color-accent {
    background-color: var(--color-accent)
}

.text-color-primary {
    color: var(--text-color-primary)
}
.text-color-secondary {
    color: var(--color-secondary)
}
.text-color-light {
    color: var(--text-color-light)
}

/* Layout */
.container-80 {
    width: 80%;
    max-width: 1000px;
}

/* Positioning */
.absolute-center {
    position: absolute;
    inset: 0;
}

/* Material Style Overrides */
.mat-form-field-appearance-fill .mat-form-field-flex,
.mdc-text-field--filled:not(.mdc-text-field--disabled),
.mdc-text-field--focused,
.mdc-text-field--filled:hover {
    background-color: #fff; 
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white;
}
