/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Colors */
    --color-accent: palevioletred;
    --bg-pagination: white;
    --pagination-color: black;

    /* Fonts */
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: Roboto, "Helvetica Neue", sans-serif;
    --font-ternary: 'Arima', 'Times New Roman', Times, serif, cursive;
    --font-4: 'Bree Serif', serif;

    --font-fancy: 'Nerko One', 'cursive';
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
    font-weight: bold;
}
