<!-- Page Header -->
<section class="relative">
    <img class="w-full" src="../../../assets/images/waves.png" alt="Stupid Waves">
    <div class="text-center text-5xl text-color-light absolute-center flex items-center justify-center">
        <h1>
            {{pageTitle}}
        </h1>
    </div>
    
</section>

<!-- Main Content -->
<section class="container-80 mx-auto">
    <h2 class="text-4xl">
        {{surveyTitle}}
    </h2>

    <!-- Survey Form -->
    <div class="survey-form-wrapper border mb-5">
        <div [ngClass]="{'throw-outta-page': pageNumber !== 0 }">
            <app-identification-survey-form></app-identification-survey-form>
        </div>

        <div [ngClass]="{'throw-outta-page': pageNumber !== 1 }">
            <app-lifestyle-survey-form></app-lifestyle-survey-form>
        </div>
        
        <div [ngClass]="{'throw-outta-page': pageNumber !== 2 }">
            <app-symptoms-survey-form></app-symptoms-survey-form>
        </div>
    </div>

    <!-- Controls -->
    <div class="flex justify-between mb-10">
        <button [disabled]="prevDisabled" (click)="previousClicked()" mat-raised-button color="accent">Previous Page</button>
        <button [disabled]="nextDisabled" (click)="nextClicked()" *ngIf="!showSubmit" mat-raised-button color="accent">Next Page</button>
        <button *ngIf="showSubmit" mat-raised-button color="accent">Finish Survey</button>
    </div>
    
</section>